<html>
  <head>
    <meta charset="UTF-8">
    <title>Pirate Creator</title>
  </head>

  <body>
    <h1>Create your very own pirate!</h1>
    
    <form method="POST" action="/pirates">
      <p>Your Pirate's Name: <input type="text" name="pirate[name]"></p>
      <p>Your Pirate's Weight: <input type="text" name="pirate[weight]"></p>
      <p>Your Pirate's Height: <input type="text" name="pirate[height]"></p>

      <p>Your Pirate's Ship's Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"></p>
      <p>Your Pirate's Ship's Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]"></p>
      <p>Your Pirate's Ship's Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></p>

      <p>Your Pirate's Ship's Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"></p>
      <p>Your Pirate's Ship's Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"></p>
      <p>Your Pirate's Ship's Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></p>
      <input id="Submit" type="submit">
    </form>
  </body>
</html>