<h1>Create Your Pirate!</h1>
  <form Method='POST' action='/show'>
      <li><label for="pirate[name]">Pirate Name:</label><li>
      <input type="text" id="pirate[name]" name="pirate[name]">
      <P><p>
      <li><label for="pirate[height]">Pirate Height:</label><li>
      <input type="text" id="pirate[height]" name="pirate[height]">
      <P><p>
      <li><label for="pirate[weight]">Pirate Weight:</label><li>
      <input type="text" id="pirate[weight]" name="pirate[weight]">
      <P><p>
<h2>Create Your Ships!</h2>
      <li><label for="pirate[ships][][name]">Pirate Ship Name:</label><li>
      <input type="text" id="ship_name_1" name="pirate[ships][][name]">
      <P><p>
      <li><label for="pirate[ships][][type]">Pirate Ship Type:</label><li>
      <input type="text" id="ship_type_1" name="pirate[ships][][type]">
      <P><p>
      <li><label for="pirate[ships][][booty]">Pirate Ship Booty:</label><li>
      <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
      <P><p>
      <li><label for="pirate[ships][][name]">Pirate Ship Name:</label><li>
      <input type="text" id="ship_name_2" name="pirate[ships][][name]">
      <P><p>
      <li><label for="pirate[ships][][type]">Pirate Ship Type:</label><li>
      <input type="text" id="ship_type_2" name="pirate[ships][][type]">
      <P><p>
      <li><label for="pirate[ships][][booty]">Pirate Ship Booty:</label><li>
      <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
      <input type="submit" id="Submit">
  </form>
