<!-- <h1>Make your form here</h1> -->
<form action="/pirates" method="post">
  Pirate name: <input type="text" name="pirate[name]">
  Pirate weight: <input type="text" name="pirate[weight]">
  Pirate height: <input type="text" name="pirate[height]">
  ship name: <input type="text" name="ship[name]">
  ship type: <input type="text" name="ship[type]">
  ship booty: <input type="text" name="ship[booty]">
  ship name: <input type="text" name="ship[name]">
  ship type: <input type="text" name="ship[type]">
  ship booty: <input type="text" name="ship[booty]">
  <input type="submit">
</form>
